@model IEnumerable<SistemaInventario.Modelos.Producto>

<div class="row pb-3">
    @foreach(var producto in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                    <div class="card" style="border:0px;">
                        <img src="@producto.ImagenUrl" class="card-img-top rounded" />
                        <div class="pl-1">
                            <p class="card-title h5"><b style="color:#2c3e50">@producto.Descripcion</b></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p>Precio: <b>$ @producto.Precio.ToString("0.00")</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


</div>
@*<div class="card-deck d-flex flex-wrap justify-content-center">

  


    @foreach (var producto in Model)
    {
     

       
<div class="card">
    <div class="text-center">
        <img class="card-img-top align-content-center" alt="Imagen de pizza" src="@producto.ImagenUrl" style="max-width: 200px" />
    </div>
    <div class="card-body">
        <input type="text" id="" value="@producto." hidden />
        <h5 class="card-title">@producto.nombreProducto</h5>
    </div>
    <div class="card-footer justify-content-center">
        <h6 class="precio text-center"><b>₡@producto.precio</b></h6>
        <button type="button" class="btn btn-secondary d-flex justify-content-center" style="width:100%;" itemid="@item.idProducto" onclick="agregarCarrito(this)" disabled>En el carrito</button>
    </div>
</div> }
            

           



</div>*@
